// MAIN
.main
{
    flex-grow: 1;
}
// HERO
.hero {
    background-image: url(../images/hero-strelka.png), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: 135rem, cover;
    background-position: left top  35rem, center;
    
.container
{
    display: flex;
    justify-content: start;
    align-items: center;
}
}
.hero__info {
   width: 500px;               
   padding-top: 15.4rem;
   padding-bottom:  15.4rem;
}
.hero__title {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    margin-bottom: 4rem;
}
.hero__wrapper {
   
    padding-left: 9.1rem;
}
.hero__description {
    margin-bottom: 4rem;
    color: $white;
}



.features {
    padding-top: 16rem;
    padding-bottom: 20rem;
    background-image: url('../images/features-bg.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: left top 20rem;
}
.container {
}
.features__list {
    display: flex;
    gap: 3rem;
}
.features__item {
}
.features-image {
    margin-bottom: 4rem;
}

.features-title {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    margin-bottom: 2.7rem;
}
.features-description {
}















@include responsive(tablet_main)
{
    // HERO
    .hero
    {        
        background-image: url('../images/hero-tablet-2.png'), url('../images/hero-tablet-img.jpg');
        background-repeat: no-repeat;
        background-size: 40rem, cover;
        background-position: left -9rem bottom 1.5rem, center;
        
        .container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 9.7rem;
            padding-right: 9.7rem;
        .hero__info
        {
            text-align: center;
            width: 576px;
        }
        .hero__wrapper
        {
            padding: 0;
        }
        // FEATURES
        }
    }
}
@include responsive (tablet_3)
{
  .hero
  {
    .container
    {
        padding-left: 3rem;
        padding-right: 3rem;
    }   
    .hero__title
    {
        font-size: 4.7rem;
    }
  }
} 
@include responsive (mobile)
{
        .hero
        {
            padding-top: 2.9rem;
            padding-bottom: 4.2rem;
            background-image:  url('/images/her0-mobile-2.png'), url('../images/hero-mobile-img.jpg');
            background-repeat: no-repeat;
            background-size: 15rem, cover;
            background-position: left bottom 2.5rem, center;
            .hero__title
            {
                font-size: 4rem;
                line-height: 40px;
                margin-bottom: 2.4rem;
            }
            .hero__description
            {
                margin-bottom: 3.4rem;
            }
        }
}


@include responsive (tablet_main)
{
    .features
    {
        background-image: url('../images/features-tablet-img.png');
        background-repeat: no-repeat;
        background-position: left 13.3rem  top;
        background-size: 1.7rem;
        padding-top: 12.2rem;
        padding-bottom: 9.2rem;
        .container
        {
            padding-left: 9.7rem;
            padding-right: 9.7rem;
        }

        .features__list
        {
           
            text-align: left;
            flex-wrap: wrap;
            display: flex;
            
            .features__item
            {
                display: flex;
                gap: 7.9rem;
            }
        }
       
    }
}
@include responsive (tablet_4)
{
    .features
    {
        background-image: url();
           
        .features__list
        {
            .features__item
        {
           align-items: center;
           justify-content: center;
           text-align: center;
           flex-flow: column;
           gap: 0;
        }
        }
    }
}
@include responsive (mobile_2)
{
    .features
    {
            .container
            {
                padding-left: 3.2rem;
                padding-right: 3.2rem;
            }
    }
}