// MAIN
.main
{
    flex-grow: 1;
}
// HERO
.hero {
    background-image: url(../images/hero-strelka.png), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: 135rem, cover;
    background-position: left top  35rem, center;   
    position: relative;
.container
{
    display: flex;
    justify-content: start;
    align-items: center;
}
}
.hero__info {
   width: 500px;               
   padding-top: 17rem;
   padding-bottom:  17rem;
}
.hero__title {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    margin-bottom: 4rem;
}
.hero__wrapper {
   
    padding-left: 9.1rem;
}
.hero__description {
    margin-bottom: 4rem;
    color: $white;
}


// FEATURES

.features {
    padding-top: 16rem;
    padding-bottom: 20rem;
    background-image: url('../images/features-bg.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: left top 20rem;
}
.features__list {
    display: flex;
    gap: 3rem;
}
.features-image {
    margin-bottom: 4rem;
}
.features-title {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    margin-bottom: 2.7rem;
}

// LIVES
.lives {
    background-image: url('../images/lives-strelka.svg'), url('../images/lives-oval.svg');
    background-repeat: no-repeat;
    background-position: bottom 15rem right, top 7.5rem right -340px;
    padding-bottom: 15.5rem;
    padding-top: 8rem;
    .lives-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
     .lives-image{
        max-width: 100%;
        border-radius: 50%;
        z-index: -1;
    }
    .lives__info {
        max-width: 445px;
    }
    .lives__title {
        margin-bottom: 2.4rem;
    }
    .lives__description {
        margin-bottom: 4rem;
    }
    
    }
}
// LIVES
.lives-2 {
    background-image: url('../images/lives-2-strelka.svg'), url('../images/lives-oval.svg');
    background-repeat: no-repeat;
    background-position: top 8rem left -35rem, top 7.5rem left -340px;
    padding-bottom: 15.5rem;
    padding-top: 8rem;
    .lives-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
     .lives-image{
        border-radius: 50%;
        z-index: -1;
    }
    .lives__info {
        max-width: 445px;
    }
    .lives__title {
        margin-bottom: 2.4rem;
    }
    .lives__description {
        margin-bottom: 4rem;
    }
    
    }
}
// LIVES
.lives-3 {
    background-image: url('../images/lives-3-strelka.svg'), url('../images/lives-oval.svg');
    background-repeat: no-repeat;
    background-position: top 15rem right -35rem, top 7.5rem right -340px;
    padding-bottom: 15.5rem;
    padding-top: 8rem;
    .lives-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
     .lives-image{
        border-radius: 50%;
        z-index: -1;
    }
    .lives__info {
        max-width: 445px;
    }
    .lives__title {
        margin-bottom: 2.4rem;
    }
    .lives__description {
        margin-bottom: 4rem;
    }
    
    }
}
.sign {
    background-color: #495567;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #495567;
    padding-top: 10.2rem;
    padding-bottom: 10.2rem;

    .container
    {
    .sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .sign-title
    {
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    color: #fff;
    }
    .sign-info
    {
        max-width: 415px;
    }
    .sign__images {
        display: flex;
        gap: 1.8rem;
    }
    .sign-img
    {
        object-fit: cover;
        cursor: pointer;
    }
    .sign-img
    {
        border-radius: 4px;
    }
    .line::after
    {
        content: '';
        display: inline-block;
        height: 96px;
        width: 96px;
        background-color: $yellow;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .line::before
    {
        content: '';
        display: inline-block;
        height: 96px;
        width: 96px;
    }
    .tr
    {
        display: flex;
        align-items: center;
    }
    }
}





























































@include responsive(tablet_main)
{
    // HERO
    .hero
    {        
        background-image: url('../images/hero-tablet-2.png'), url('../images/hero-tablet-img.jpg');
        background-repeat: no-repeat;
        background-size: 40rem, cover;
        background-position: left -9rem bottom 1.5rem, center;
        
        .container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 9.7rem;
            padding-right: 9.7rem;
        .hero__info
        {   
            padding-top: 10rem;
            text-align: center;
            width: 576px;
        }
        .hero__wrapper
        {
            padding: 0;
        }
        // FEATURES
        }
    }
}
@include responsive (tablet_3)
{
  .hero
  {
    .container
    {
        padding-left: 3rem;
        padding-right: 3rem;
    }   
    .hero__title
    {
        font-size: 4.7rem;
    }
  }
} 
@include responsive (mobile)
{
        .hero
        {
            padding-top: 8rem;
            padding-bottom: 10rem;
            background-image:  url('/images/her0-mobile-2.png'), url('../images/hero-mobile-img.jpg');
            background-repeat: no-repeat;
            background-size: 15rem, cover;
            background-position: left bottom 3.5rem, center;
            .hero__title
            {
                font-size: 4rem;
                line-height: 40px;
                margin-bottom: 2.4rem;
            }
            .hero__description
            {
                margin-bottom: 3.4rem;
            }
            .hero__info {         
                padding-top: 1rem;
                padding-bottom:  10.4rem;
             }
        }
}


@include responsive (tablet_main)
{
    .features
    {
        background-image: url('../images/features-tablet-img.png');
        background-repeat: no-repeat;
        background-position: left 13.3rem  top;
        background-size: 1.7rem;
        padding-top: 12.2rem;
        padding-bottom: 9.2rem;
        .container
        {
            padding-left: 9.7rem;
            padding-right: 9.7rem;
        }

        .features__list
        {
           
            text-align: left;
            flex-wrap: wrap;
            display: flex;
            
            .features__item
            {
                display: flex;
                gap: 7.9rem;
            }
        }
       
    }
}


@include responsive (tablet)
{
}

@include responsive (tablet_4)
{
    .features
    {
        background-image: url();
           
        .features__list
        {
            .features__item
        {
           align-items: center;
           justify-content: center;
           text-align: center;
           flex-flow: column;
           gap: 0;
        }
        }
    }
}
@include responsive (mobile_2)
{
    .features
    {
            .container
            {
                padding-left: 3.2rem;
                padding-right: 3.2rem;
            }
    }
}



@include responsive (tablet_main)
{
    .lives
    {
        background-image: url('../images/lives-strelka.svg'), url('../images/lives-oval.svg');
        background-repeat: no-repeat;
        background-position: bottom 50rem right, top 7.5rem right -340px;
        padding-bottom: 12rem;

        .lives-wrapper
        {
            flex-direction: column-reverse;


            .lives__info
            {
                text-align: center;
            }
        }
        .lives-image
        {
            margin-bottom: 5.6rem;
        }
    }
}
@include responsive (tablet_main)
{
      .lives-2
      {
        background-image: url('../images/lives-2-strelka.svg'), url('../images/lives-oval.svg');
        background-repeat: no-repeat;
        background-position: top 8rem left -35rem, top 7.5rem left -340px;
        padding-bottom: 12rem;
        padding-top: 8rem;




        .lives-wrapper
        {
            flex-direction: column;
        }
        .lives-image
        {
            margin-bottom: 5.6rem;
        }
        .lives__info
        {
            text-align: center;
        }
      }
}
@include responsive (tablet_main)
{
    .lives-3
    {
        background-image: url('../images/lives-strelka.svg'), url('../images/lives-oval.svg');
        background-repeat: no-repeat;
        background-position: top 15rem right -38rem, top 7.5rem right -340px;
        padding-bottom: 15.5rem;
        padding-top: 8rem;
        .lives-wrapper
        {
            flex-direction: column-reverse;
        }
        .lives-image
        {
            margin-bottom: 5.6rem;
        }
        .lives__info
        {
            text-align: center;
        }
    }
}

@include responsive (tablet)
{
    .lives
    {
        background-image: url();
        background-repeat: no-repeat;
        background-position: bottom 53rem right -30rem;
        
        .container
        {
            .lives-image
            {
                object-fit: cover;
                width: 311px;
                height: 311px;
            }
            .lives__title
            {
                font-size: 3.2rem;
            }
        }
    }
}
@include responsive (tablet)
{
    .lives-2
    {
        background-image: url();
        background-repeat: no-repeat;
        background-position: bottom 53rem right -30rem;
        
        .container
        {
            .lives-image
            {
                object-fit: cover;
                width: 311px;
                height: 311px;
            }
            .lives__title
            {
                font-size: 3.2rem;
            }
        }
    }
}
@include responsive (tablet)
{
    .lives-3
    {
        background-image: url();
        background-repeat: no-repeat;
        background-position: bottom 53rem right -30rem;
        
        .container
        {
            .lives-image
            {
                object-fit: cover;
                width: 311px;
                height: 311px;
            }
            .lives__title
            {
                font-size: 3.2rem;
            }
        }
    }
}
@include responsive (mobile_3)
{
    .lives
    {
        background-image: url('../images/lives-strelka.svg');
        background-repeat: no-repeat;
        background-position: bottom 54.5rem right -42rem;

        .lives-image
        {
            object-fit: cover;
        }
    }
    .lives-2
    {
        background-image: url('../images/lives-2-strelka.svg');
        background-repeat: no-repeat;
        background-position: top 8rem left -45rem;
    
        .lives-image
        {
            object-fit: cover;
        }
    }
    .lives-3
    {
        background-image: url('../images/lives-strelka.svg');
        background-repeat: no-repeat;
        background-position: top 7rem right -50rem;
    
        .lives-image
        {
            object-fit: cover;
        }
    }
}
@include responsive (tablet_main)
{
    .sign
    {
        padding-top: 6.2rem;
        padding-bottom: 6.2rem;
        .sign-wrapper
        {
            text-align: center;
            gap: 4rem;
            flex-flow: column;
            justify-content: center;
        }
    }
}
@include responsive (mobile)
{
    .sign
    {
        .sign-info
        {
            width: 311px;
        }
        .sign-title
        {
            font-family: 'Space Mono', sans-serif;
            font-size: 3.2rem;
            line-height: 1;
        }
    }
}
@include responsive (mobile_3)
{
    .sign
    {
       .container
       {
        .sign__images 
        {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       }
    }
}
