// 'HEADER' 'NAVIGATION'
.header {
    position: fixed;
    width: 100%;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    background: $white;
    z-index: 1000;
    
    .container 
    {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.sitenav {

      margin-right: auto;
      padding-left: 5.8rem;
    .sitenav-list
    {
        display: flex;
    }
    .sitenav-item:not(:last-child)
    {
        margin-right: 3.2rem;
    }
    .sitenav-link
    {
        
        font-weight: 700;
        font-size: 15px;
        line-height: 1.67;
        color: $dim-grey;
        transition: 0.3s;
    }
    .btn-mobile
    {
        display: none;
    }
    .sitenav-link:hover
    {
        color: $yellow;
    }
    .btn-mobile
    {
        display: none;
    }
}
    #menu
    {
        cursor: pointer;
        color: $yellow;
        font-size: 3.5rem;
        display: none;
    }
    button
    {
        background: transparent;
        border: none;
        outline: none;
    }
}












@include responsive (tablet)
{
    .header
    {
        .container
        {
            justify-content: space-between;
            button
            {
                display: none;
            }
        }
        .btn
        {
            display: none;
        }
        .logo-link
        {
            margin: 0;
            padding: 0;
        }
        .sitenav
        {   
           padding: 0;
           margin: 0;
        }
    }
}
@include responsive (mobile)
{
    .header
    {
        position: fixed;
        .container
        {
            button
            {
                display: block;
            }
        }
        .logo-link
        {
            margin: 0 auto;
        }
        .sitenav
        {
            position: fixed;
            top: 7.9rem;
            width: 70%;
            left: 0;
            transition: 0.3s;
            padding: 0;
            visibility: hidden;
            opacity: 0;

            .sitenav-list
            {
            flex-direction: column;
            padding: 6.4rem 2.5rem 46.1rem 3.9rem;
            flex-flow: column;
            gap: 2.4rem;
            background-color:  #333A44;
            }
            .sitenav-link
            {
            color: #fff;
            }
            .btn-mobile
            {
             display: block;
             position: relative;
             top: 22.9rem;
            }
             
        }
            .show-nav {
            opacity: 1;
            visibility: visible;
            }
            #menu
            {
            display: block;
            }
            #menu.bx-x {
            transform: rotate(180deg);
            transition: 0.3s linear;
            }
            .logo__Link-image
            {
            height: 20px;
            width: 75.5px;
            }
            
    }
}
@include responsive (mobile_small)
{
    .sitenav
    {
        .btn-mobile
        {
            padding: 1.2rem 1.5rem;
        }
    }
}