*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus
{
    outline: none;
    outline-offset: none;
}
html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    height: 100%;
}
::selection
{
    background: $yellow;
    color: #fff;
}
ul, ol
{
    list-style: none;
}
a
{
    text-decoration: none;
}
ul
{
    margin-bottom: 0;
}
img
{
    display: flex;
}
body
{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}
h1,
h2,
h3, 
h4,
h5,
h6
{
    margin: 0;
}
.container
{
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}